<h1>Curso</h1>

<label>Curso</label>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Digite o curso" aria-label="Username" aria-describedby="basic-addon1" value="{{curso.nome}}">
  </div>
<label>Coordenador</label>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="fabio.teixeira@ifsp.edu.br" aria-label="Username" aria-describedby="basic-addon1">
  </div>
<br>
<button class="btn btn-primary">Salvar</button>
<button type="button" class="btn btn-outline-dark">Voltar</button>

<style>
    h1 {
        text-align: center;
    }
</style>